.Project {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 70vw;
  margin: 0 auto;
}

.image-container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.image-container * {
  grid-area: 1 / 1;
  width: 90%;
  object-fit: contain;
}

.image-container .link-image {
  place-self: center;
  height: 18rem;
  transform: rotate3d(1, 1, 1, 25deg);
  transition: transform 0.3s ease-in-out;
}

.image-container .link-image:hover {
  transform: rotate3d(0, 0, 0, 0deg);
}

.text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 10px;
}
