.color {
  color: #6667ab;
}

@font-face {
  font-family: "Hnadwriting-Regular";
  src: local("Hnadwriting-Regular"),
    url(./fonts/Hnadwriting-Regular.ttf) format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #f2f2f2;
  color: #28282d;
  width: 100%;
  font-size: 16px;
}

.title {
  text-align: center;
  font-family: "Hnadwriting-Regular";
  font-size: 5rem;
}

.whole-page {
  height: 100vh;
}
