.LandingScreen {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-content: center;
  align-items: center;
  justify-items: center;
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: right;
}

.LandingScreen .person-container {
  padding-bottom: 4rem;
}
